@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: min(700px, 85vw);
  margin: auto;
  box-sizing: border-box;
}

body {
  background-color: #1e222c;
  color: white;
  user-select: none;
}
h1 {
  font-family: "Headland One", serif;
}
blockquote {
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 10px solid #444;
  margin: 1.5rem 0;
  padding: 1.5rem 1rem;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}
.genreBtn {
  cursor: pointer;
  background: #e5e7eb;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.8rem;
  transition: 0.4s;
  font-size: 1.2rem;
}

.genreBtn:hover {
  background: #1e222c;
  color: #e5e7eb;
  border-color: transparent;
  transform: scale(1.05);
}
hr {
  opacity: 0.1;
}

.displayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.bookItem {
  display: flex;
  width: 80%;
  height: 12rem;
  margin: 1rem;
  border: 2px transparent;
  border-radius: 0.5rem;
}

.bookImage {
  float: left;
  width: 8rem;
  height: 11rem;
  margin: 1rem;
  background: grey;
  border: 2px transparent;
  border-radius: 0.5rem;
}

.bookDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  text-align: left;
  padding-left: 2rem;
  height: 11rem;
  border-left: 3px solid grey;
}

.bookName {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.bookAuthor {
  font-size: 1.4rem;
  margin: 0.5rem 0rem;
  color: #a4b0be;
}

.bookRating {
  font-size: 1.2rem;
  color: #7f8c8d;
}
/* Footer Section */

.creator {
  text-align: center;
  margin: 0.4rem;
  color: black;
}
.creator strong {
  color: hotpink;
}
.footerLink a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-size: 1.4rem;
  transition: 0.3s;
}

.footerLink a:hover {
  transform: scale(1.1);
}

footer li {
  font-size: 1.2rem;
  margin: 0rem 0.3rem;
}

footer {
  padding: 0 0 1rem;
  background-color: #e5e7eb;
  color: var(--background-color);
  padding: 1rem;
  border: 1px transparent;
  border-radius: 0.5rem;
  margin: 2rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  flex-wrap: wrap;
}

.socialIcon {
  height: 2rem;
  width: 2rem;
}

@media (max-width: 550px) {
  .bookName {
    font-size: 1.5rem;
  }
  .bookAuthor {
    font-size: 1.2rem;
  }
  .bookRating {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .bookName {
    font-size: 1.2rem;
  }
  .bookAuthor {
    font-size: 1rem;
  }
  .bookRating {
    font-size: 1rem;
  }
}
@media (max-width: 350px) {
  .bookImage {
    height: 8rem;
    width: 6rem;
    margin: auto 1rem;
  }
}
